name: WLED compile

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
        
    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio
        
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        
    - name: Run PlatformIO (Huidu HD-WF2 S3 4MB)
      run: |
        rm -rf /tmp/WLEDtemp/* || true
        mkdir -p /tmp/WLEDtemp
        
        wget https://github.com/MoonModules/WLED-MM/archive/refs/heads/mdev.zip -O /tmp/WLEDtemp/mm.zip
        unzip /tmp/WLEDtemp/mm.zip -d /tmp/WLEDtemp
        cd /tmp/WLEDtemp/WLED-MM-mdev
        
        npm install --quiet
        
        # PERFETTO per HD-WF2 4MB QSPI
        pio run -e esp32s3_4M_qspi
        
        echo "/tmp/WLEDtemp/WLED-MM-mdev" > /tmp/WLEDtemp/wledfoldername
    
    - name: Copy Files
      run: |
        cd $GITHUB_WORKSPACE
        WLED_FOLDER=$(cat /tmp/WLEDtemp/wledfoldername)
        cp "$WLED_FOLDER/.pio/build/esp32s3_4M_qspi/firmware.bin" $GITHUB_WORKSPACE/huidu_wf2.bin
        date -I | tr -d '\n' >$GITHUB_WORKSPACE/last_update_date.txt

    - name: Commit Files
      run: |
        cd $GITHUB_WORKSPACE
        git config user.name "GitHub Actions Bot"
        git config user.email "actions@github.com"
        git add custom_build.bin last_update_date.txt
        git commit -m "WLED HUB75+MQTT ESP32" || echo "No changes"
        git push origin main || echo "Push failed"
